
body{
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    background-image: url(imagens/bouquetmadeira.jpeg);
    background-size:cover

}

h1{
    color: #d9458a;
    background-color: #ece3e9; opacity: 80%;
    width: 500px;
    border-radius: 20px;
     
}

p{
    font-weight:bold;
    background-color: #ece3e9; opacity: 80%;
    width: 240px;
    border-radius: 10px;

}

fieldset{
    background-color: #ece3e9; opacity: 80%; 
    width: 600px;
    border-radius: 20px;
    
}   

